/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #363537;
    font-family: 'Encode Sans SC', sans-serif;
}

/* Header */
header {
    background-color: #363537;
    color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #363537;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* Navbar styles with drop down toggle */
nav {
    position: absolute;
    background-color: #363537;
    width: 100%;
    left: 0;
    padding: 0 1em;
    box-shadow: 0 2px 2px #363537;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #F7EBE8;
    /* Main element to take up extra space and push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #4D936C;
}